/writings/taste.html
/writings/questions.html
/writings/sachin.html
/sidequests/lectures-on-dl&rl.html
/writings/singularity.html
/writings/learning.html 
/publications/feynman-lectures-on-deep-learning.html  
/writings/papers.html
/writings/computer.html
publications/compute.html
/writings/chatgpt.html
/images/
